.bg-gradient-green {
  background-color : #05943E !important;
  border-color: #05943E !important;
  background-size  :  cover;
}

.bg-leaves-image {
  background: url(https://source.unsplash.com/_6rR_iP06p4/600x800);
  background-position: center;
  background-size: cover;
}