# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# Firebase service account
ecologic-center-firebase-adminsdk-9ip96-2e16028fc6.json
ecologic-center-firebase-adminsdk-9ip96-d5bffc74ed.json
