<h1 class="h3 mb-4 text-gray-800">Clima</h1>
  <div class="container">
    <div class="row">
      <div class="col-3 mt-5" *ngFor="let item of day" >
        <div class="card ">
          <div [ngStyle]="{'background-image': 'url(' + getBackground(item.description)  + ')'}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-white">Lunes</h5>
            <h5 class="card-text text-white"> {{item.temperature}}° C</h5>
            <span [ngStyle]="{'background-color': getBadge(item.description)}" class="badge badge-primary"> {{item.description}} </span>
          </div>
        </div>
      </div>
  </div>
</div>
